@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
#mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #393939;
  z-index: 7;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}
#mobile-menu ul {
  list-style-type: none;
  text-align: center;
  width: 100%;
}
#mobile-menu ul a {
  display: block;
  padding-top: 20px;
  width: 100%;
  height: 80px;
  text-decoration: none;
  color: #ffffff;
}
#mobile-menu ul li:hover {
  background-color: #434343;
}
#mobile-menu ul li:active {
  background-color: #434343;
}
#mobile-menu ul li:focus {
  background-color: #434343;
}
#mobile-menu #x {
  position: absolute;
  top: 15px;
  left: 15px;
}
#mobile-menu span {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  z-index: 7;
}
#mobile-menu span:nth-child(even) {
  transform: rotate(45deg);
}

#header {
  width: 100%;
  min-height: 375px;
  background-image: url(../assets/peracity-hotel.jpg);
  background-size: cover;
  background-position: 12% 50%;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 5px 5px 0px grey;
}
#header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.7);
  z-index: 1;
}

#logo {
  position: absolute;
  width: 100%;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  z-index: 2;
}
#logo h1 {
  color: #E5E5E5;
  text-align: center;
  letter-spacing: 0.125em;
  font-weight: 400;
  font-size: 44px;
  position: relative;
}
#logo h1 #letter-a {
  font-size: 55px;
}
#logo #logo-stars {
  position: relative;
  left: 63px;
  top: 29px;
}

#hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
  padding: 15px;
}
#hamburger span {
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}

#contact-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.btn {
  width: 138px;
  height: 40px;
  background-color: #3454D1;
  border: none;
  border-radius: 5px;
  color: #EFEFEF;
  font-family: inherit;
  cursor: pointer;
}

.phoneBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.quickNote {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 20px !important;
}
.quickNote .noteLine {
  width: 3px;
  height: 16px;
  background-color: rgb(251, 188, 4);
  margin-right: 3px;
}
.quickNote p {
  font-family: inherit;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EFEFEF;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.sectionCaptions {
  font-family: "Questrial", sans-serif;
  color: black;
  font-weight: 400;
}

#sectionRooms {
  margin-top: 20px;
  color: #070707;
}
#sectionRooms img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}
#sectionRooms .roomCaptions {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 17px;
}
#sectionRooms .roomInfos {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 17px;
}
#sectionRooms .miniIcons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  color: rgba(52, 84, 209, 0.85);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 10px;
}

.roomCards {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
}

.rcard {
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

.rcard2 {
  margin-top: 20px;
}

.noteLine2 {
  width: 10px !important;
  height: 30px !important;
}

#sectionPrecautions {
  margin-top: 25px;
}
#sectionPrecautions .caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sectionPrecautions .virusicon {
  color: #3454D1;
  font-size: 30px;
}
#sectionPrecautions h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 10px 5px;
  background-color: rgba(250, 250, 250, 0.75);
  border-radius: 6px;
  color: rgb(209, 52, 91);
}
#sectionPrecautions ul {
  margin-top: 20px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
#sectionPrecautions ul li {
  margin: 5px 0;
  list-style-image: url("/assets/heartbeat-solid 1.svg");
}

#sectionPrivileges {
  margin-top: 25px;
}
#sectionPrivileges .cards {
  display: flex;
  flex-direction: column;
  color: #3454D1;
  margin-top: 25px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
#sectionPrivileges .cards .card {
  text-align: center;
  width: 260px;
  height: 280px;
  padding: 15px 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.25);
}
#sectionPrivileges .cards .cardCaption {
  font-weight: 700;
  font-size: 22px;
  margin-top: 10px;
}
#sectionPrivileges .cards .carddesc {
  font-size: 15px;
  font-weight: 200;
  margin-top: 10px;
}

.slideshow {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.box {
  display: flex;
  width: 100%;
  padding: 10px 12px;
  box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-top: 20px;
}
.box figure {
  width: 15%;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.box img {
  width: 100%;
}
.box .comment {
  width: 80%;
}
.box .stars {
  color: rgb(251, 188, 4);
  font-size: 12px;
}
.box .line {
  background-color: black;
  height: 1px;
}
.box p {
  margin-top: 5px;
}
.box span {
  display: block;
  text-align: end;
  margin-top: 5px;
}

#contact {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}
#contact h3 {
  padding: 10px 0px;
  font-size: 12px;
  font-weight: 200;
}
#contact .call {
  font-weight: 200;
  font-size: 12px;
}
#contact .call i {
  color: #008FE0;
  margin-right: 10px;
}
#contact .address {
  font-weight: 200;
  font-size: 12px;
}
#contact .address i {
  color: #00B448;
  margin-right: 10px;
}
#contact .mail {
  font-weight: 200;
  font-size: 12px;
}
#contact .mail i {
  color: #CC00AB;
  margin-right: 10px;
}

iframe {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  width: 100% !important;
  height: 300px;
}

@media only screen and (min-width: 700px) {
  #header {
    min-height: 790px;
    width: 90%;
    margin: 0 auto;
  }
  #desktop-menu {
    display: flex !important;
  }
  #logo {
    top: 150px;
  }
  #logo h1 {
    font-size: 84px;
  }
  #logo h1 #letter-a {
    font-size: 98px;
  }
  #logo #logo-stars {
    left: 122px;
    top: 42px;
  }
  #logo-stars img {
    width: 24px;
    margin-right: 10px;
  }
  #contact-section .btn {
    width: 200px;
    height: 50px;
    font-size: 22px;
  }
  #contact-section .btn img {
    width: 28px;
  }
  #contact-section a:nth-child(1) .btn {
    position: absolute;
    top: 590px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #contact-section .phoneBtn {
    display: none;
  }
  .quickNote {
    margin: 50px auto !important;
  }
  .quickNote p {
    font-size: 15px;
  }
  .quickNote .noteLine {
    height: 20px !important;
    width: 3px !important;
  }
  #firstNote {
    position: absolute;
    top: 650px;
    color: #fff;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: center;
  }
  #sectionRooms .roomCaptions {
    font-size: 24px;
  }
  #sectionRooms .roomInfos {
    font-size: 18px;
  }
  #sectionRooms .miniIcons {
    font-size: 16px;
  }
  .noteLine2 {
    height: 55px;
  }
  .roomCards {
    flex-direction: row;
    justify-content: space-between;
  }
  #sectionRooms .roomCaptions {
    font-size: 20px;
  }
  #sectionRooms .roomInfos {
    font-size: 14px;
  }
  #sectionRooms .miniIcons {
    width: 90%;
    font-size: 13px;
  }
  .rcard {
    width: 45%;
    margin: 0;
  }
  .slideshow {
    width: 75%;
    margin: 30px auto;
  }
  #sectionPrecautions .virusicon {
    display: none;
  }
  #sectionPrecautions .caption {
    justify-content: center;
  }
  #sectionPrecautions ul {
    margin-top: 50px !important;
  }
  #sectionPrecautions li {
    margin-top: 20px !important;
  }
  .sectionCaptions {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  #sectionPrivileges .cards {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
  }
  #sectionPrivileges .card {
    margin: 10px;
  }
  #sectionPrivileges .cards .cardCaption {
    font-size: 18px;
  }
  .box figure {
    width: 15%;
    margin-right: 5px;
  }
  .box img {
    width: 75%;
  }
  .box p {
    font-size: 12px;
  }
  .box {
    width: 60%;
  }
  .box1 {
    margin-right: auto;
  }
  .box2 {
    margin-left: auto;
    margin-right: auto;
  }
  .box3 {
    margin-left: auto;
  }
  #contact h3 {
    font-size: 16px;
  }
  #contact .call, #contact .mail, #contact .address {
    font-size: 16px;
  }
  iframe {
    height: 500px;
  }
}
#desktop-menu {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  height: 60px;
  background-color: #272727;
  display: none;
}
#desktop-menu button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
#desktop-menu ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
#desktop-menu ul li {
  font-size: 1.3vw;
  list-style-type: none;
}
#desktop-menu ul li a {
  color: rgb(140, 140, 140);
  text-decoration: none;
  width: 1rem;
  height: 1rem;
}
#desktop-menu ul li a:hover {
  color: white;
}/*# sourceMappingURL=main.css.map */