#desktop-menu {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  height: 60px;
  background-color: #272727;
  display: none;

  button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    li {
      font-size: 1.3vw;
      list-style-type: none;

      a {
        color: rgb(140, 140, 140);
        text-decoration: none;
        width: 1rem;
        height: 1rem;
        &:hover {
          color: white;
        }
      }
    }
  }
}
