
//Header Background
#header {
    width: 100%;
    min-height: 375px;
    background-image: url(../assets/peracity-hotel.jpg);
    background-size: cover;
    background-position: 12% 50%;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 5px 5px 0px grey;
    
    //Effect for background photo
    &::after {
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(3,3,3,.70);
        z-index: 1; 
    }
}

//Header Logo
#logo {
    position: absolute;
    width: 100%;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    z-index: 2;

    h1 {
        color: $logo-color;
        text-align: center;
        letter-spacing: 0.125em;
        font-weight: 400;
        font-size: 44px;
        position: relative;

        #letter-a {
            font-size: 55px;
        }
    }
    
    #logo-stars {
        position: relative;
        left: 63px;
        top: 29px;
    }
}

//Hamburger Menu Icon
#hamburger {
    position: absolute;
    top: 25px;;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;

    span {
        display: inline-block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin-bottom: 5px;
    }
}

//Contact Section
#contact-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

    .btn {
        width: 138px;
        height: 40px;
        background-color: $button-color;
        border: none;
        border-radius: 5px;
        color: $button-textColor;
        font-family: inherit;
    }

    .phoneBtn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

//Note 1
.quickNote {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 20px !important;

    .noteLine {
        width: 3px;
        height: 16px;
        background-color: $noteLine-color-1;
        margin-right: 3px;
    }
    
    p {
        font-family: inherit;
        font-size: 10px;
    }   
}

