#sectionPrivileges {
  margin-top: 25px;

  

  .cards {
    display: flex;
    flex-direction: column;
    color: $card-color;
    margin-top: 25px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

    .card {
      text-align: center;
      width: 260px;
      height: 280px;
      padding: 15px 10px 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 13px 0 rgba(0,0,0,0.25);
    }

    .cardCaption {
      font-weight: 700;
      font-size: 22px;
      margin-top: 10px;
    }
    .carddesc {
        font-size: 15px;
        font-weight: 200;
        margin-top: 10px;
    }
  }
}
