
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); //Font for Logo
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); //Font for Buttons
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); //Font for quicknotes
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); //Font for section captures
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); // Font for mini icons
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'); // Font for list
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap'); // Font for card 

$background-color: #EFEFEF;
$logo-color : #E5E5E5;
$button-color : #3454D1;
$button-textColor : #EFEFEF;
$noteLine-color-1: rgba(251,188,4,1);
$noteLine-color-2: rgba(251,188,4,1);
$caption-color: black;
$miniicon-color: rgba(52,84,209,0.85);
$virus-color: #3454D1;
$card-color: #3454D1;