* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: $background-color;
}

//Wrapper for all sections
.wrapper {
    width: 90%;
    margin: 0 auto;
}

//Section Captions
  .sectionCaptions {
    font-family: 'Questrial', sans-serif;
    color: $caption-color;
    font-weight: 400;    
 }